h2{
    font-size: 1.8em;/* 文字の大きさ */
    font-weight: bold;/* 文字の太さ */
    color: #030303;/* 文字の色 */
    border-left: 7px solid #81D8D0;/* 文字左の点線の太さ・種類・カラー */
    border-bottom: 1px solid #81D8D0;/* 文字下の点線の太さ・種類・カラー */
    margin: 0 0 1.5em;
    padding: 0.2em 0.8em;
    }

span.label.label-danger{
    color: #be1111;
    font-size: 0.8em;
}

.questionary-form-group{
    font-size: 1em;
    border-bottom: 1px solid #81D8D0;
}